:host {
  display: block;
}

.form-builder {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.question-field {
  width: 100%;
}

.question-options {
  display: flex;
  flex-direction: column;
}

.question-title {
  font-weight: bold;
}

.question-options {
  padding-top: 1rem;
}
