<mat-card>
  <h2>Form Answer</h2>

  <div *ngIf="formService.formData | async as FormData">
    <ng-container *ngFor="let form of FormData; let i = index">
      <div class="question-answer">
        <b> #{{ i + 1 }}: {{ form.title }}</b>
        <ng-container *ngIf="form.type === QuestionType.Paragraph">
          <p *ngIf="form.value">{{ form.value }}</p>
        </ng-container>

        <ng-container *ngIf="isCheckboxQuestion(form) as CheckboxQuestion">
          <ng-container
            *ngFor="let option of CheckboxQuestion.options; let i = index"
          >
            <p *ngIf="isChecked(option)">
              {{ option.name }}
            </p>
          </ng-container>

          <p *ngIf="CheckboxQuestion.otherValue">
            Other - {{ CheckboxQuestion.otherValue }}
          </p>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <a routerLink="../builder">Back To Form Builder</a>
</mat-card>
